.Notifications {
	padding: 2em;
	border: 2px dashed red;
}

button[aria-label='Close'] {
	border: none;
	background: none;
}

.notification-header {
	display: flex;
	justify-content: space-between;
}

.menuItem {
	text-align: right;
}

[data-notification-type='default'] {
	color: blue;
}

[data-urgent],
[data-notification-type='urgent'] {
	color: red;
}
