.App-body {
	font-size: 1.4rem;
	padding: 1.2em;
	border-bottom: 4px solid red;
	height: 45%;
}

.form-inputs {
	display: flex;
	gap: 2em;
	align-items: center;
}

.form-inputs .input input {
	height: 1.4rem;
	margin-left: 10px;
}
